<div class="main-div">
  <header class="header">
    <div class="header-div">Assignment</div>
  </header>
  <section>
    <div class="intro-div">
      <h1 class="intro-div-h1">Paginated Table Assignment</h1>
      <p>
        Made By:
        <a
          href="https://myportfolio.anuragg.top/"
          target="_blank"
          class="resume-link"
          >Kumar Anurag</a
        >
      </p>
    </div>
    <div class="paginated-component">
      <app-paginated-table></app-paginated-table>
    </div>
  </section>
</div>
